<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js | Part 11</title>

    <link rel="stylesheet" href="style.css">

    <script src="vue.global.js"></script>
</head>
<body>
    <div id="app">
       <h5>Skills</h5>
       <!-- <input type="text" v-model="newSkill"> -->
       <input type="text" v-model="newSkill.name">
       <button @click="addSkill">Add</button>
       <ul>
            <!-- <li v-for="(skill, index) in skills" @click="removeSkill(index)">
                {{index+1}} {{skill}}
            </li> -->
            <li v-for="(skill, index) in skills" @click="removeSkill(index)">
                {{index+1}} {{skill.name}} ({{skill.experience}})
            </li>
       </ul>
    </div>

    <script src="app.js"></script>
</body>
</html>