<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js | Part 16</title>

    <link rel="stylesheet" href="style.css">

    <script src="vue.global.js"></script>
</head>
<body>
    <div id="app">
       <input type="text" v-model="mobile" placeholder="Enter 11 digit mobile number">
       <br><br>
       <input type="text" v-model="name.firstName" placeholder="Enter your first name">
       <input type="text" v-model="name.lastName" placeholder="Enter your last name">
    </div>

    <script src="app.js"></script>
</body>
</html>