.red{
    background-color: red;
    width: 100px;
    height: 100px;
}
.green{
    background-color: green;
    width: 100px;
    height: 100px;
}
.blue{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.btn{
    padding: 5px;
    margin: 5px;
}
.active{
    border: 2px solid black;
    padding: 5px;
    background-color: yellow;
}